<header>
    <div class="header-container">
    <div class="logo">SPACEAPP</div>
    <nav class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/launches">Launches</a></li>
            <li><a href="/launches/about">About</a></li>
        </ul>
    </nav>

    </div>
</header>